CHANGELOG.md export-ignore
Gemfile.lock export-ignore
ruby.ico  export-ignore
VERSION  export-ignore
*.gitattributes  export-ignore
.rubocop.yml export-ignore
archivia.bat export-ignore
download.bat export-ignore
scheduler.bat export-ignore
script_usati export-ignore
.solargraph.yml export-ignore
.rufo export-ignore
.rubocop.yml export-ignore
cache export-ignore
