--title 'Previsione Steg'
--charset utf-8
--markup markdown
--markup-provider redcarpet
--asset ./css/common.css:css/common.css
--protected
--private
--exclude /Prove/
--exclude /App/
--exclude /Ruby/
--exclude .rblcl
--exclude .yardoc
--exclude /doc/
--type-name-tag promises:"Promises"
--type-name-tag expects:"Expects"
--type-name-tag type:"Type"
--tag comment:"Comment"
--hide-tag comment
'steg.rb'
'app/**/*.rb'
'lib/**/*.rb'
-
CHANGELOG.md
README 
